.weather {
  margin-left: 30px;

  &-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px 20px;
    justify-items: end;
  }
}

.current-weather {
  justify-self: start;
  display: flex;
}
