<table mat-table [dataSource]="cars" class="mat-elevation-z8" *ngIf="cars.length > 0; else noCars">

  <ng-container matColumnDef="mark">
    <th mat-header-cell *matHeaderCellDef>Mark</th>
    <td mat-cell *matCellDef="let car"> {{car.mark}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef>Model</th>
    <td mat-cell *matCellDef="let car"> {{car.model}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef>Color</th>
    <td mat-cell *matCellDef="let car"> {{car.color}} </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let car" class="column-actions">
      <button mat-mini-fab color="primary" (click)="handleEdit(car)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="handleDelete(car)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #noCars>
    <h2 class="no-cars">No Cars</h2>
</ng-template>
