<form (ngSubmit)="onCheckWeather(f)" #f="ngForm">
  <mat-card class="weather-card">
    <mat-card-header>
      <mat-card-title>Check weather</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="city-field">
          <input
            matInput
            placeholder="City"
            required
            ngModel
            name="city">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button type="submit" mat-flat-button color="primary">Check</button>
    </mat-card-actions>
  </mat-card>
</form>
